@using SharedModels.Models

<div class="achievement-card @(Mount.Collected ? "completed-achievement" : "" )">
    <div class="achievement-card-main">
        <div>
            <img class="achievement-icon" src="@Mount.Icon" alt="@Mount.MountName" />
        </div>
        <div class="achievement-info">
            <div class="flex-col">
                <h4>@Mount.MountName</h4>
                <p>@Mount.Description</p>
            </div>
        </div>
    </div>
    <div class="flex-col right">
        @if (WowheadLink != "")
        {
            <NavLink href="@WowheadLink">Wowhead</NavLink>
        }
    </div>
</div>

@code {
    [Parameter]
    public LocalMount Mount { get; set; }
    public string WowheadLink { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        if (Mount != null)
        {
            WowheadLink = $"https://www.wowhead.com/item={Mount.Id}";
        }
    }
}
